In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('data/Position_Salaries.csv')

In [4]:
data.head(5)

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [5]:
data.describe()

          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

In [6]:
data.shape

(10, 3)

In [7]:
X = data.iloc[:,1].values
y = data.iloc[:,2].values

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3 , random_state= 0)

In [11]:
from sklearn.tree import DecisionTreeRegressor
model_dtr = DecisionTreeRegressor()
model_dtr.fit(X_train.reshape(-1,1), y_train)

DecisionTreeRegressor()

In [13]:
y_pred = model_dtr.predict(X_test.reshape(-1,1))

In [15]:
from sklearn.metrics import r2_score
r2 = r2_score(y_true=y_test, y_pred=y_pred)
print('The r2 score of the model is {}'.format(round(r2,4)))

The r2 score of the model is 0.6468