In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('data/Social_Network_Ads.csv')

In [5]:
data.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
data.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [7]:
data.shape

(400, 5)

In [88]:
X = data.iloc[:,2:4].values
y = data.iloc[:,4].values

In [89]:
from sklearn.preprocessing import LabelEncoder
gender = data.iloc[:,1].values
gender = LabelEncoder().fit_transform(gender)
a = []
for i in gender:
    a.append([i])

In [82]:
#X = np.concatenate((X,a),axis=1)

array([[   19, 19000,     1],
       [   35, 20000,     1],
       [   26, 43000,     0],
       ...,
       [   50, 20000,     0],
       [   36, 33000,     1],
       [   49, 36000,     0]], dtype=int64)

In [90]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)

In [91]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [98]:
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression(penalty='l2',#'l1'
                                dual=False,#dual or primal formulation
                                tol=1e-4,#tolerance for stopping
                                C=1.0,#regularization strength inverse
                                fit_intercept=True,#bias or intercept
                                intercept_scaling=1.0,
                                class_weight="balanced",#
                                random_state= 0,
                                solver='liblinear',#'sag','saga','newton-cg',...
                                max_iter=100,
                                multi_class='ovr',#one vs rest,multinomial
                                verbose=0,#or >0
                                n_jobs=1#number of cpus among which the job is distributed
                                )
model_lr.fit(X_train,y_train)

LogisticRegression(class_weight='balanced', intercept_scaling=1.0,
                   multi_class='ovr', n_jobs=1, random_state=0,
                   solver='liblinear', tol=1e-05)

In [99]:
y_pred = model_lr.predict(X_test)

In [100]:
from sklearn.metrics import confusion_matrix
cf_m = confusion_matrix(y_true=y_test,y_pred=y_pred)
cf_m

array([[70,  9],
       [ 5, 36]], dtype=int64)