### how to prepare data for ML

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
# read a dataset from a csv file
data = pd.read_csv('data/Data.csv')
#look at the data head
data.headd(5)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [6]:
#have a quick look at the summary of the data 
data.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [9]:
#the size of our data set
data.shape

(10, 4)

In [11]:
#split the dataset
X = data.iloc[:, :-1].values
y = data.iloc[:, 3].values

In [15]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [16]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [17]:
# Taking care of missing data
from sklearn.impute import SimpleImputer
#other options KNN,iterative
imputer = SimpleImputer()
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [18]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [21]:
#handling categorical variables categorical variables
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

encoder_X = LabelEncoder()
X[:,0] = encoder_X.fit_transform(X[:,0])
#onehotencoder_X = OneHotEncoder(categorical_features=[0])
#X = onehotencoder_X.fit_transform(X).toarray()
onehotencode_Y = LabelEncoder()
y = onehotencode_Y.fit_transform(y)

In [22]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [23]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

My naming convetions for all DS projects
1. Complete Datasets as "data"
2. Input variables as "X"
3. Target Variable as "y"
4. Training dataset as "X_train" and "y_train"
5. Testing dataset as "X_test" nd "y_test"
6. Model as "model_XX" where XX denotes the ml algo used for training

TO DO
1. Missing value imputation methods
2. Types of encoders and use cases??

In [25]:
#test train split
#split data into training and testing set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.20 , random_state= 0 )

In [28]:
print('The size of the training dataset is r{} , c{}'.format(X_train.shape[0],X_train.shape[1]))
print('The size of the testing dataset is r{} , c{}'.format(X_test.shape[0],X_test.shape[1]))

The size of the training dataset is r8 , c3
The size of the testing dataset is r2 , c3

In [29]:
#variable scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(train_X)
X_test = sc_X.transform(test_X)

In [30]:
X_train

array([[ 0.13483997,  0.26306757,  0.12381479],
       [-0.94387981, -0.25350148,  0.46175632],
       [ 1.21355975, -1.97539832, -1.53093341],
       [ 1.21355975,  0.05261351, -1.11141978],
       [-0.94387981,  1.64058505,  1.7202972 ],
       [ 1.21355975, -0.0813118 , -0.16751412],
       [-0.94387981,  0.95182631,  0.98614835],
       [-0.94387981, -0.59788085, -0.48214934]])

In [31]:
X_test

array([[ 0.13483997, -1.45882927, -0.90166297],
       [ 0.13483997,  1.98496442,  2.13981082]])

No need to scale y